/* 
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/**************************/
/* GLOBAL */
/**************************/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Overpass', sans-serif;
	font-size: 16px;	
}

.container {
	background: hsl(216, 12%, 8%);
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

/**************************/
/* RATINGS */
/**************************/
.ratings-form {
	margin: 24px;
}

.img {
	background: hsl(213, 19%, 18%);
	padding: 13px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.rating-secondary {
	font-size: 24px;
	font-style: normal;
	color: #fff;
	font-weight: 700;
	line-height: 1.8;	
}

.main-text {
	margin: 10px 0 20px 0;
	color: hsl(217, 12%, 63%);
	font-weight: 400;
	line-height: 1.7;
	font-size: 14px;
}

.ratings-container {
	/* display: none; */
	background: radial-gradient(at top,
	hsl(215, 20%, 17%), 
	hsl(215, 24%, 12%)); 
	border-radius: 5%;
	width: 327px;
	height: 360px;
}	

.ratings-wrapper {
	display: flex;
	justify-content: end;
	padding: 5px;
	gap: 10px;
}

input[type="radio"] {
	appearance: none;
    
}

label {
	background: hsl(213, 19%, 18%);
	color: hsl(216, 12%, 54%);
	font-weight: 700;
	font-size: 14px;
	font-style: normal;
	padding: 15px;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	letter-spacing: 1.8;
	cursor: pointer;   
}

.active {
	background: hsl(216, 12%, 54%);
	color: #fff;
}

input[type="radio"] + label:hover {
    background: hsl(25, 97%, 53%);
	color: #fff;
}

input[type="radio"] + label:active {
    background: hsl(217, 12%, 63%);
	color: #fff;
}

.btn-primary {
	background: hsl(25, 97%, 53%);
	color: #fff;
	font-weight: 700;
	line-height: 1.8;
	font-style: normal;
	letter-spacing: 1.5px;
	padding: 12px;
	border-radius: 22.5px;
	margin-top: 15px;
	width: 279px;
	height: 45px;
	font-size: 14px;
	border: none;
	cursor: pointer;
}

.btn-primary:hover {
	background: #fff;
	color: hsl(25, 97%, 53%);

}

.btn-primary:active {
	background: hsl(25, 97%, 53%);
	color: #fff;

}

/**************************/
/* THANK YOU */
/**************************/
.thank-you {
	background: radial-gradient(at top,
	hsl(215, 20%, 17%), 
	hsl(215, 24%, 12%)); 
	border-radius: 5%;
	padding: 15px;
	width: 327px;
	height: 360px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}	

.thank-you img {
	width: 144px;
	height: 96px;
	margin-top: 34px;
}

.output {
	margin: 24px;
	border-radius: 15px;
	background: hsl(213, 19%, 18%);
	width: 168px;
	height: 32px;
}

.text {	
	color:  hsl(25, 97%, 53%);
	padding: 5px 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.8;
	text-align: center;
}

.heading-secondary {
	font-size: 24px;
	font-style: normal;
	color: #fff;
	font-weight: 700;
	line-height: 1.8;	
}

.secondary-text {
	margin: 10px 0 32px 0;
	color: hsl(217, 12%, 63%);
	font-weight: 400;
	line-height: 1.7;
	font-size: 14px;
	text-align: center;
}
