* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Overpass', sans-serif;
	font-size: 16px;	
}

h2 {
	/* margin-top: 10px; */
	font-size: 24px;
	font-style: normal;
	color: #fff;
	font-weight: 700;
	line-height: 1.8;
	
	
}

p {
	margin-top: 10px;
	color: hsl(217, 12%, 63%);
	font-weight: 400;
	line-height: 1.7;
	font-size: 14px;
	margin-bottom: 24px;
}

form {
	margin: 24px;
}

label {
	font-size: 24px;
	color: white;
}

.container {
	background: hsl(216, 12%, 8%);
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.rating {
	display: none;
	background: radial-gradient(at top,
	hsl(215, 20%, 17%), 
	hsl(215, 24%, 12%)); 
	border-radius: 5%;
	/* padding: 24px 0 0 24px; */
	width: 327px;
	height: 360px;
}	

.thank-you {
	background: radial-gradient(at top,
	hsl(215, 20%, 17%), 
	hsl(215, 24%, 12%)); 
	border-radius: 5%;
	padding: 15px;
	/* padding: 24px 0 0 24px; */
	width: 327px;
	height: 360px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}	

.thank-you p {
	text-align: center;
}

.btn-primary {
	background: hsl(25, 97%, 53%);
	color: #fff;
	font-weight: 700;
	line-height: 1.8;
	font-style: normal;
	letter-spacing: 1.8;
	padding: 12px;
	border-radius: 22.5px;
	margin-top: 24px;
	width: 279px;
	height: 45px;
	font-size: 14px;
	border: none;

}

.ratings-wrapper {
	display: flex;
	padding: 5px;
	gap: 17px;
}

.ratings {
	background: hsl(213, 19%, 18%);
	color: hsl(216, 12%, 54%);
	font-weight: 700;
	font-size: 14px;
	font-style: normal;
	padding: 15px;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	letter-spacing: 1.8;
	
}

h1 img {
	background: hsl(213, 19%, 18%);
	padding: 13px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.message {
	/* display: flex; */
	justify-content: center;
	align-items: center;
	
	margin: 24px 0;
	border-radius: 15px;
	background: hsl(213, 19%, 18%);
	width: 168px;
	height: 32px;
}

.text {
	flex-shrink: ;
	/* margin-bottom: 37px; */
	color:  hsl(25, 97%, 53%);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.8;
}

.thank-you img {
	width: 144px;
	height: 96px;
	margin-top: 34px;
}
