/* 
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/**************************/
/* GLOBAL */
/**************************/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

html {
font-size: 62.5%;
}

body {
	font-family: 'Overpass', sans-serif;	
}

.container {
	background: hsl(216, 12%, 8%);
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

/**************************/
/* RATINGS CARD */
/**************************/
.ratings {
	background: radial-gradient(at top,
	hsl(215, 20%, 17%), 
	hsl(215, 24%, 12%)); 
	border-radius: 5%;
	width: 32.7rem;
	height: 36rem;
}	

@media (min-width: 500px) {
	.ratings {
		border-radius: 8%;
		width: 41.2rem;
		height: 41.6rem;
	}
	
}

.ratings-form {
	margin: 2.4rem;
}

@media (min-width: 500px) {
	.ratings-form {
		margin-bottom: 3.6rem;
	}
	
}

.img {
	background: hsl(213, 19%, 18%);
	padding: 1.3rem;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

@media (min-width: 500px) {
	.img {
		padding: 1.6rem;
		width: 4.8rem;
		height: 4.8rem;
		margin: 1rem;
	}
	
}

.rating-secondary {
	font-size: 2.4rem;
	font-style: normal;
	color: #fff;
	font-weight: 700;
	line-height: 1.8;	
}

@media (min-width: 500px) {
	.rating-secondary {
		font-size: 2.8rem;
		margin: 1rem;	
	}
	
}

.main-text {
	margin: 1rem 0 2rem 0;
	color: hsl(217, 12%, 63%);
	font-weight: 400;
	line-height: 1.7;
	font-size: 1.4rem;
}

@media (min-width: 500px) {
	.main-text {
		margin: 1rem 0 2rem 1rem;
		font-size: 1.4rem;
	}
	
}

.ratings-wrapper {
	display: flex;
	justify-content: end;
	padding: .5rem;
	margin-bottom: 10px;
	gap: 1rem;
}

@media (min-width: 500px) {
	.ratings-wrapper {
		display: flex;
		justify-content: space-evenly;
	}
	
}

input[type="radio"] {
	appearance: none;
	
}

input[type="radio"] + label:hover {
  background: hsl(25, 97%, 53%);
	color: #fff;
}

input[type="radio"] + label:active {
  background: hsl(217, 12%, 63%);
	color: #fff;
}

input[type=radio]:checked + label {
    color: #fff;
	background-color: hsl(217, 12%, 63%);
}

label {
	background: hsl(213, 19%, 18%);
	color: hsl(216, 12%, 54%);
	font-weight: 700;
	font-size: 1.4rem;
	font-style: normal;
	padding: 1.5rem;
	width: 4.2rem;
	height: 4.2rem;
	border-radius: 50%;
	letter-spacing: 1.8rem;
	cursor: pointer;   
}

@media (min-width: 500px) {
	label {
		font-size: 1.6rem;
		padding: 1.9rem;
		width: 5.1rem;
		height: 5.1rem;  
	}
	
}

.btn-primary {
	background: hsl(25, 97%, 53%);
	color: #fff;
	font-weight: 700;
	line-height: 1.8;
	font-style: normal;
	letter-spacing: .2rem;
	border-radius: 22.5px;
	margin-top: 1.5rem;
	width: 27.9rem;
	height: 4.5rem;
	font-size: 1.4rem;
	border: none;
	cursor: pointer;
}

@media (min-width: 500px) {
	.btn-primary {
		letter-spacing: .2rem;
		line-height: 1.9;
		padding: 1.2rem;
		margin: 1.5rem 0 3.6rem 1rem;
		width: 34.1rem;
		font-size: 1.5rem;
	}
}

.btn-primary:hover {
	background: #fff;
	color: hsl(25, 97%, 53%);
}

.btn-primary:active {
	background: hsl(25, 97%, 53%);
	color: #fff;
}

/**************************/
/* THANK YOU  CARD*/
/**************************/
.thank-you {
	background: radial-gradient(at top,
	hsl(215, 20%, 17%), 
	hsl(215, 24%, 12%)); 
	border-radius: 5%;
	padding: 1.5rem;
	width: 32.7rem;
	height: 36rem;

	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}	

.thank-you img {
	width: 14.4rem;
	height: 9.6rem;
	margin-top: 3.4rem;
}

.message {
	margin: 2.4rem;
	border-radius: 1.5rem;
	background: hsl(213, 19%, 18%);
	width: 16.8rem;
	height: 3.2rem;
}

.text {	
	color:  hsl(25, 97%, 53%);
	padding: .5rem 0;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.8;
	text-align: center;
}

.heading-secondary {
	font-size: 2.4rem;
	font-style: normal;
	color: #fff;
	font-weight: 700;
	line-height: 1.8;	
}

.secondary-text {
	margin: 1rem 0 3.2rem 0;
	color: hsl(217, 12%, 63%);
	font-weight: 400;
	line-height: 1.7;
	font-size: 1.4rem;
	text-align: center;
}
